
x64/
Debug/
Release/
Win32/
Артефакты сборки/


.vs/
*.vs
ipch/
*.ipch


*.user
*.suo
*.sln.docstates


*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.exp
*.tlog
*.log


*.ipch
*.db
*.opendb
*.VC.db


*.tmp
*.temp
*~


*.bak
*.backup